@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;

}

.font-normal {
    font-family: "Quicksand", serif;
}

.container {
    width: 80%;
    max-width: 1160px;
    margin: 0 auto;

}
/*                                  nav            */

.navbar {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-logo h2 {
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}

.home-all {
    display: flex;
    gap: 32px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.home {
    color: rgb(254, 163, 1);
}

.About {
    color: rgb(1, 172, 253);
}

.Facilities {
    color: rgb(5, 212, 223);
}

.Admission {
    color: rgb(93, 88, 239);
}

.nav-button {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
background: rgb(254, 163, 1);
padding: 4px 37px 4px 37px;
border: none;
cursor: pointer;
}

.bar{
    display: none;
}


/*                             Banner Section                           */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.banner .banner-text h3 {
    font-size: 56px;
    font-weight: 700;
    text-align: left;
}

.banner .banner-text .sp-1 {
    color: rgb(254, 163, 1);
}

.banner .banner-text .sp-2 {
    color: rgb(1, 172, 253);
}

.banner .banner-text p {
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

.banner .banner-text button {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px 25px 10px 25px;
    text-align: center;
    margin-top: 6px;
    border: none;
}

.banner .banner-text button:hover {
    background-color: rgb(75, 33, 33);
    color: rgb(155, 124, 204);
}


.hr {
    border: dashed 1px rgb(210, 198, 198);
    margin-top: 0px;
}






/*                        standard curriculum                           */



.standard-curriculum {
    margin-bottom: 70px;
    background-image: url(/assets/bg.png);
    background-position: center;
    background-size: cover;

}

.standard-curriculum h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: 60px;
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}

.curriculum-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.all-currriculum-box {

    text-align: center;

}

.all-currriculum-box h4 {
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.all-currriculum-box p {
    color: rgb(128, 128, 128);
    font-size: 15.09px;
    font-weight: 500;
    text-align: center;
}

.all-currriculum-box button {
    border: none;
    background: none;
}

.all-currriculum-box button:hover {
    color: rgb(226, 37, 154);
}

.kinder-box {
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(222, 245, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);

}

.kinder-box img {
    margin-top: 43px;
    margin-bottom: 22px;

}

.kinder-box h4 {
    margin-bottom: 23px;

}

.kinder-box p {
    margin: 23px;
}

.kinder-btn {
    color: rgb(100, 200, 255);
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}



.middle-box {
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(255, 244, 220),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

.middle-box img {
    margin-top: 43px;
    margin-bottom: 29px;
}

.middle-box h4 {
    margin-bottom: 23px;
}

.middle-box p {
    margin: 23px;
}

.middle-btn {
    color: rgb(240, 170, 0);
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}


.elementary-box {
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg,
            rgb(238, 225, 255),
            rgba(255, 255, 255, 0) 40%),
        rgb(255, 255, 255);
}

.elementary-box img {
    margin-top: 43px;
    margin-bottom: 22px;
}

.elementary-box h4 {
    margin-bottom: 23px;
}

.elementary-box p {
    margin: 23px;
}

.elementary-btn {
    color: rgb(135, 0, 255);
    font-size: 15.09px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}


.angle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 75px;
    margin-bottom: 60px;
}

.angle .right-angle {
    background: rgb(254, 163, 1);
    border-radius: 30px;
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;


}
.angle .left-angle {
    background: rgb(254, 163, 1);
    border-radius: 30px;
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;


}



/*         OUR STORIES                */




.bg-img {
    background: url(../assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
    background-position: center;
    background-size: cover;

}


.stories-p {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}



.all-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/* big image */

.bg-big-img {
    background: rgb(255, 255, 255);
    border-radius: 16px;

}

.big-image {
    border-radius: 16px 16px 0px 0px;
    background: url(../assets/story-1.png), rgb(217, 217, 217);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 540px;
    height: 337px;
    border-radius: 8px 8px 0 0;
    position: relative;
    margin-bottom: 45px;

}


.bg-img .text-p {

    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15.34px;
    font-weight: 500;
    left: 35px;
    top: 315px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    padding: 15px;
}


.text h2 {
    font-size: 24px;
    font-weight: 700;
    padding-left: 35px;
}


.text p {
    padding-left: 35px;
    color: rgb(102, 102, 102);
    font-size: 15.34px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 34px;
    padding-right: 50px;
}



/* OTHER IMAGES */

/* IMAGE 1 */

.img-1-2 {
    display: flex;
    gap: 20px;
}

.img-3-4 {
    display: flex;
    gap: 20px;
}

.image12 {
    margin-bottom: 20px;
}

.images {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 291px;
    height: 177px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.image-1 {
    background: url(../assets/story-2.png), rgb(217, 217, 217);
}

.image-2 {
    background: url(../assets/story-3.png), rgb(217, 217, 217);
}

.image-3 {
    background: url(../assets/story-4.png), rgb(217, 217, 217);
}

.image-4 {
    background: url(../assets/story-5.png), rgb(217, 217, 217);
}


.extra {
    display: none;
}

/* all images h2 text */
.all-img-text {
    font-size: 15.34px;
    font-weight: 700;
    margin-top: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
}


.bg-img .all-img-p {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 30.17px;
    top: 162px;
    font-size: 15.34px;
    font-weight: 500;
    padding: 8px 13px 8px 13px;
}

.color-1 {
    border-radius: 47.93px;
    background: rgb(149, 178, 38)
}

.color-2 {
    border-radius: 28.54px;
    background: rgb(93, 88, 240);
}

.stories-btn {

    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    border: none;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    padding: 13px 27px 13px 27px;
    cursor: pointer;
}

.extra-p {
    margin-top: 70px;
    color: #f1d4d4;
}

/*  footer */

.bg-footer {
    background: rgb(1, 172, 253);
}


.footer-section {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}


.footer-logo {
    display: flex;
    gap: 10px;
}

.footer-logo-all p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    margin-top: 40px;
}

.footer-img {
    color: rgb(255, 255, 255);
    height: 100px;
}

.footer-logo h2 {
    color: rgb(255, 255, 255);
    font-size: 42.14px;
    font-weight: 700;
}


.about {
    margin-left: 160px;
}

.about h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 28px;
}

.about p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}


.keep-touch {
    margin-left: 160px;
}

.keep-touch h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 32px;
}




/* FOR MOBILE DEVICE */

@media (max-width:576px) {
    /*                              nav                  */
   
    .home-all{
        display: none;
    }
    .nav-button{
        display: none;
    }
    .bar{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
    }


    /*                                     BANNER SECTION            */


    .banner {
        flex-direction: column-reverse;
        justify-content: center;


    }

    .banner .banner-text h3 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
        margin-top: 20px;
    }

    .banner .banner-text p {
        color: rgb(17, 17, 17);
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
    }

    .banner .banner-text button {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        display: flex;
        margin: 0 auto;
        border-radius: 12px;
        background: rgb(17, 17, 17);
        padding: 10px 25px 10px 25px;
        text-align: center;
        margin-top: 6px;
        border: none;
    }

    .banner img {
        width: 100%;
    }

    .hr {
        display: none;
    }








    /*                       Standard Curriculum                   */

    .standard-curriculum h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        margin-bottom: 40px;
        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }


    .curriculum-box {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }


    .angle{
        display: none;
    }






    /*                        OUR STORIES              */
    .stories-p {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 40px;
    }


    .extra {
        display: flex;
        gap: 8px;
        margin-bottom: 30px;
    }

    .all-images {
        display: grid;
        grid-template-columns: 1fr;

    }

    .img-1-2 {
        display: flex;
        gap: 10px;
    }

    .img-3-4 {
        display: flex;
        gap: 10px;
        /* justify-content: space-between; */
        justify-content: space-around;
    }

    .bg-img .all-img-p {
        left: 20.17px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
        padding: 7px 10px 7px 10px;
    }

    .all-img-text {
        font-size: 13px;
        font-weight: 700;
    }

    .big-image {
        width: 100%;
    }

    .display-none {
        display: none;
    }

    .image-1 {
        width: 100%;
    }

    .image-2 {
        width: 100%;
    }

    .image-3 {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .image-4 {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .stories-btn {

        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        border: none;
        border-radius: 12px;
        background: rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        padding: 8px 20px 8px 20px;
        cursor: pointer;
    }

    .extra-p {
        margin-top: 40px;
        color: #f1d4d4;
    }


}